@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 202 100% 15%;
    --foreground: 200 60% 94%;
    --card: 202 100% 15%;
    --card-foreground: 200 60% 94%;
    --popover: 202 100% 15%;
    --popover-foreground: 200 60% 94%;
    --primary: 0 0% 0%;
    --primary-foreground: 200 60% 94%;
    --secondary: 202 62% 51%;
    --secondary-foreground: 202 100% 15%;
    --muted: 202 100% 80%;
    --muted-foreground: 200 60% 94%;
    --accent: 202 100% 33%;
    --accent-foreground: 200 60% 94%;
    --destructive: 360 100% 67%;
    --destructive-foreground: 199 61% 10%;
    --border: 202 100% 60%;
    --input: 202 100% 80%;
    --ring: 202 100% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 202 100% 15%;
    --foreground: 200 60% 94%;
    --card: 202 100% 15%;
    --card-foreground: 200 60% 94%;
    --popover: 202 100% 15%;
    --popover-foreground: 200 60% 94%;
    --primary: 0 0% 0%;
    --primary-foreground: 200 60% 94%;
    --secondary: 202 62% 51%;
    --secondary-foreground: 202 100% 15%;
    --muted: 202 100% 80%;
    --muted-foreground: 200 60% 94%;
    --accent: 202 100% 33%;
    --accent-foreground: 200 60% 94%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 199 61% 10%;
    --border: 202 100% 60%;
    --input: 202 100% 80%;
    --ring: 202 100% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}